body {
    margin: 0 auto;
    padding: 0 auto;
}

#floor {
    z-index: 2;
    background-color: black;
}

#box {
    z-index: 2;
    background-color: rgb(68, 68, 68);
}

#box1 {
    z-index: 2;
    background-color: rgb(55, 55, 55);
}